* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.mensaje{
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 10px;


}
.bt-msj{
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}


:root {
    --main-color: #000000;
    --main-modal-color: rgba(2, 1, 1, 0.555);
    --second-color: #b7b7b7;
    --second-modal-color: rgb(0, 0, 0);
}

body {
    font-family: 'open sans';

    background: var(--main-color);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.contenedor {
    width: 100%;
    height: 212px;
    margin: auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.titulo {
    color: var(--second-modal-color);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 630px;
    background: #4e50bc8c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(249, 100%, 46%, 0.897), hsla(0, 0%, 0%, 0)), url(../img/b.JPG);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(236, 83%, 40%, 0.767), hsla(0, 0%, 0%, 0.5)), url(../img/b.JPG);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    width: 100%;
    text-align: right;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.349);
    z-index: 1;

}
.container-botones-2 {
    width: 100%;
    height: 258px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.blu {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--main-color);
    margin-left: 20px;

}


header .textos-header {
    display: flex;
    height: 530px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.perfil {
    width: 130px;
    border-radius: 100px;
    border: 3px solid #fff;
    box-shadow: 8px 8px 10px 4px rgb(0 0 0 / 41%);
}

.icono-info {
    width: auto;
    margin-top: 20px;
    margin-bottom: -1px;
    display: flex;
}

.icon-info {
    width: auto;
    display: flex;
    margin: 3px;
}

.caja {
    margin: 15px;
}

.ico-3 {
    color:rgb(255, 255, 255);
    font-size: 20px;
}

@media (max-width: 600px) {
    .ico-3 {
        color: #fff;
        font-size: 19px;
    }

    .caja {
        margin: 10px;
    }
}
.qr{
    width: 200px;
}
h1 {
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #000;
}

/* About us */

main .sobre-nosotros {
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: var(--second-modal-color);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color:  var(--second-modal-color);
}



@media screen and (max-width:900px) {
    header {
        background-position: center;
    }


    .imagen-about-us {
        width: 90%;
    }




}

@media screen and (max-width:500px) {
    nav {
        text-align: center;
        padding: 15px;
    }

    nav>a {
        margin-right: 5px;
    }

    .textos-header h2 {
        font-size: 20px;
    }
}

/*modal pop*/
.texto {
    margin: 30px auto;
    width: 80%;
}

.btn-abrir-2 {
    background: #00000000;
    color:var(--second-modal-color);
    padding: 1px;
    display: inline-block;
    border: none;
    cursor: pointer;

}

.btn-abrir {
    background: #00000000;
    color: rgba(218, 0, 0, 0);
    padding: 1px;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.container-ico {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}
/*qr*/
.ico {
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
    margin: 20px;

}

.ico-2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.titulo {
    color: var(--letra-color);
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #fff;
    margin-top: 5px;
    font-size: 10px;
}



/* -----------------VENTANA MODAL------------ */
.pop-up {
    background: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.pop-up-wrap {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 950px;
    transform: scale(0.6);
    opacity: 0;
    transition: .3s ease all;
}

.subcription::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.pop-up-title h2,
.pop-up-title p {
    z-index: 10;
    color: #fff;
}

.pop-up-title h2 {
    font-family: 'Chiller';
    font-size: 80px;
}

.pop-up-title p {
    font-size: 20px;
    font-weight: 300;
}

.subcription {
    background: var(--main-color);
    flex-basis: 0;
    flex-grow: 2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.sub-content {
    width: 78%;
}

.sub-content h2 {
    font-weight: 500;
    font-size: 40px;
    color: var(--second-color);
    margin: 10px;
}

.sub-content p {
    font-weight: 500;
    color: #000000;
    margin-bottom: 30px;
}

.subs-email {
    width: 90%;
    padding: 10px;
    background: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.subs-send {
    width: 80%;
    padding: 10px;
    border: none;
    background: var(--second-color);
    color: var(--main-color);
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .25s ease background;
    border-radius: 20px;
}

.subs-send:hover {
    background-color: #000000;
    color: #fff;
    border-color: 1px #fff;
}

.line {
    width: 100%;
    height: 20px;
    background: #000000;
    border-radius: 10px;
}

#close {
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 25px;
    color: var(--second-color);
    cursor: pointer;
}

.pop-up.show {
    visibility: visible;
}

.pop-up-wrap.show {
    transform: scale(1);
    opacity: 1;
}

@media only screen and (max-width: 980px) {
    .pop-up-title {
        display: none;
    }

}

@media only screen and (max-width: 320px) {
    .sub-content h2 {
        font-size: 30px;
    }

    .subcription {
        max-height: 400px;
    }
}

.menu-bajo {
    width: 100%;
    height: 65px;
    color: #fff;
    background-color: #000;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10000012;

}

.container-bajo {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-bajo-1 {
    display: flex;
    justify-content: center;
}

.contenido {
    width: 100%;
    height: 626px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    background: #000;
}

@media (max-width: 600px) {
    .contenido {
        height: 100px;
    }
}

.contenido-boton {
    width: 100px;
    margin: 5px 0 0 0;
    color: #fff;
    border: none;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
}

.contenido-anun {
    width: 246px;
    height: 230px;
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}

.info {
    color: #000;
    margin: 5px;
    text-align: center;
}

.img-anun {
    width: 200px;
}

.btn-link {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.685);
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
  

    
}

.boton {
    
    padding: 2px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-left: 10px;
    
    
}


.bt-2 {
    width: 190px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
    background-color: var(--second-color);
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
}


.bt {
    width: 190px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 100;
    background-color: var(--second-color);
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;

    animation: parpadeo 2s linear infinite;
    transition: .4s ease;
}

.bt:hover {
    border: 1px solid #000000;
    animation: none;
}


@keyframes parpadeo  {
    0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 44%, 46%,48%,  50%  { 
        opacity: 0; 
    }
}
.container-game{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
}
.game-caja{
    width: 30%;
    height: auto;
    background-color: var(--second-color);
    border-radius: 5PX;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;

}
.bt-game{
    width: 240px;
    height: 40px;
    margin: 5px 0px 20px 0 ;
    background-color: #000;
    color: rgb(196, 196, 196);
    border: none;
    font-size: 15px;
}
@media (max-width: 600px){
    .game-caja{
        width: 70%;
    }
}
.img-game{
    width: 100px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px #000;
}
.info-publicasion{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    background: var(--main-color);
}
.info-publicasion-img{
    width: 300px;
}
.info-publicasion-btn{
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 5;
    background: var(--second-color);
    border: none;
}

/*############## SLIDER ##############*/

.text{
    width: 100%;
    height: 600px;
    background-color: red;
}
.img-per{
    width: 400px;
    height: auto;
}


.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(2){
    background: #000000;
    color: #fff;
}

.contenido-slider:nth-child(3){
    background: #000000;
}

.contenido-slider > img{
    width: 400px;
}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h2{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}
/*
.contenido-slider a{
    color: #fff;
    background: #332863;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}
*/
.contenido-slider:nth-child(2) a{
    background: #fff;
    color: #332863;
    
}
/*
@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}
*/